@model IEnumerable<FuncionarioModel>
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar Funcionários</h1>
    
<span class="alert @ViewBag.classe">@ViewBag.msg</span><br />

<script>
    function confirmaExclusao(id) {
        if(confirm("Deseja excluir o funcionário")) {
            location.href = "/Funcionario/Excluir/" + id;
        }
    }
</script>

<a href="~/Funcionario/Cadastro" class="btn btn-success">Novo Funcionário</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Data de Admissão</th>
            <th scope="col">Cargo</th>
            <th scope="col">Salário Fixo</th>
            <th scope="col">E-mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>
                <td>@item.Data_Nascimento.Date</td>
                <td>@item.Data_Admissao.Date</td>
                <td>@item.Cargo</td>
                <td>@item.Salario_Fixo.ToString()</td>
                <td>@item.Email</td>
                <td>
                    <a href="~/Funcionario/PreAlterar/@item.Id" class="btn btn-warning">Alterar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger" onclick="confirmaExclusao(@item.Id)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>



