@model IEnumerable<ComprasFilmesModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<h1>Carrinho</h1>

<div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Filme</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Quantidade</th>
                <th scope="col"></th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="linhas">
                    <td class="codigo">@item.Id</td>
                    <td>@item.FilmeId</td>
                    <td>@item.Filme.Titulo</td>
                    <td>
                        <select class="qtde">
                            @if (item.Quantidade == 1)
                            {
                                <option value="1" selected>1</option>
                            } else
                            {
                                <option value="1">1</option>
                            }

                            @if (item.Quantidade == 2)
                            {
                                <option value="2" selected>2</option>
                            } else
                            {
                                <option value="2">2</option>
                            }

                            @if (item.Quantidade == 3)
                            {
                                <option value="3" selected>3</option>
                            } else
                            {
                                <option value="3">3</option>
                            }
                        </select>

                    </td>
                    <td>
                        <a href="~/Compras/ExcluirFilme/@item.Id">Remover</a>
                    </td>
                    <td class="tdValor">R$ @item.Valor</td>
                    <td><input type="hidden" class="total" value="@item.Valor" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="row justify-content-end">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Total</h5>
            <p class="card-text" id="totalGeral">R$ 00,00</p>
            <a href="~/Compras/Finalizar" class="btn btn-success">Finalizar</a>
        </div>
    </div>
</div>

<div class="row">
    <a href="~/HomeSite/Index" class="btn btn-dark">Continuar Comprando</a>
</div>

@section Scripts{
    <script>
        $(document).ready(() => {
            calculaTotal();
            
            $(".quantidade").change(function () {
                var qtdeNova = $(this).val();    
                var id = $(this).parent().parent().find(".codigo").text();
                    
                alterarQtde(id, qtdeNova);
            });
        });
        
        function alterarQuantidade(id, quantidade) {
            $.ajax({
                type: "GET",
                url: "/Compras/alterarQtde?id=" + id +"&qtde=" + qtde,
                contentType: "application/json; charset=utf-8",
                data: "{}",
                dataType: "json",
                success: function (jsonResult) {
                    // console.log(jsonResult);
                    $(".linhas").each(function (index, item) {
                        var codigoTab = parseInt( $(item).find(".codigo").text());
                    
                        if (codigoTab == jsonResult.id) {
                            $(item).find(".total").val(jsonResult.valor);
                            $(item).find(".tdvalor").text("R$ " + jsonResult.valor);
                            calculaTotal();
                        }
                    });
                },
                failure: function (response) {
                    alert("Erro ao carregar os dados: " + response);
                }
            });
        }
            
        function calculaTotal() {
            var total = 0;
                
            $('.total').each(function (index, item) {
                total += parseFloat($(item).val());
            });
  
            $("#totalGeral").text("R$ " + total);
        }
    </script>
}