@model IEnumerable<FilmeModel>

@{
    ViewData["Title"] = "listar";
}

<h1>Lista de Filmes</h1>

<span class="alert @ViewBag.classe">@ViewBag.msg</span>

<script>
    function confirmaExclusao(id) {
        if (confirm("Deseja excluir o filme? ")) {
            location.href = "/Filme/Excluir/" + id;
        }
    }
</script>

<a href="~/Filme/Cadastro" class="btn btn-success">
    Adicionar Filme
</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Título</th>
            <th scope="col">Sinopse</th>
            <th scope="col">Duração (minutos)</th>
            <th scope="col">Áudio</th>
            <th scope="col">Gênero</th>
            <th scope="col">Alterar</th>
            <th scope="col">Excluir</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Titulo</td>
                <td>@item.Sinopse</td>
                <td>@item.Duracao</td>
                <td>@item.Audio</td>
                <td>@item.IdGenero</td>
                <td>
                    <a href="~/Filme/PreAlterar/@item.Id" class="btn btn-warning">Alterar</a>
                </td>
                <td>
                    <a href="#" class="btn btn-danger" onclick="confirmaExclusao(@item.Id)">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


